<button class="menuOpen" type="button">
  <i class="ph ph-list"></i>
</button>

<style lang="scss">
  @use "../assets/sass/index" as *;

  i {
    font-size: 2rem;
    color: $white;
    background-color: black;
  }

  .menuOpen {
    position: fixed;
    top: 25px;
    right: 5%;
    background-color: transparent;
    cursor: pointer;
    z-index: 20;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
  }

  @media (min-width: 1024px) {
    .menuOpen {
      display: none;
    }
  }

</style>