---
import map from '../assets/image/mapa.png';
---

<section>
	<div class="animated">
			<h2>titulo1</h2>
			<div class="underline"></div>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
			Quisquam quas sit sapiente, accusantium repudiandae ut minima quis sint amet esse!</p>
	</div>
	<img src={map.src} alt="#">
</section>
<figure>
	<div>
		<h2>titulo3</h2>
		<div class="underline"></div>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
  </div>
	<div class="block-main">
		<div class="block-content">
			<i class="ph-fill ph-star"></i>
			<p>aqui van un texto de prueba</p>
	  </div>
		<div class="block-content">
			<i class="ph-fill ph-star"></i>
			<p>aqui van un texto de prueba</p>
		</div>
		<div class="block-content">
			<i class="ph-fill ph-star"></i>
			<p>aqui van un texto de prueba</p>
		</div>
	</div>
	<div class="block-main">
		<div class="block-content">
			<i class="ph-fill ph-star"></i>
			<p>aqui van un texto de prueba</p>
	  </div>
		<div class="block-content">
			<i class="ph-fill ph-star"></i>
			<p>aqui van un texto de prueba</p>
		</div>
		<div class="block-content">
			<i class="ph-fill ph-star"></i>
			<p>aqui van un texto de prueba</p>
		</div>
	</div>
</figure>

<style lang="scss">
	@use '../assets/sass/index' as *;

	section{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		width: 100%;
		max-width: 400px;
		gap: 50px;
		padding: 40px 0;


		p{
			margin-top: 20px;
			color: $black;
		}

		img{
			width: 90%;
			object-fit: cover;
			object-position: center center;
		}
	}

	figure {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		max-width: 400px;
		padding: 40px 0;
		gap: 40px;
		margin: 0 5%;

		i{
			color: #ffffff; 
			background-color: $greendark;
			padding: 10px; 
			border-radius: 5px;
			display: inline-flex;
			justify-content: center; 
			align-items: center; 
			width: 20px; 
			height: 20px; 
		}
   }
	 
	 p{
		color: $black;
	 }

	 .block-content {
		display: flex;
		margin: 0 5%;
		gap: 10px;
		p{
			margin: 0;
		}
	 }

	 .block-main {
		gap: 15px;
		display: flex;
		flex-direction: column;
	 }

	 @media (min-width: 768px) {
		section {
			max-width: 90%;
			margin: 0 auto;
		}	

		.animated {
		  display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;

		  .underline {
			 margin: 0 auto;
			}
	  }

		figure {
			flex-direction: row;
			max-width: 90%;
			margin: 0 auto;
		}
	 }

	 @media (min-width: 1024px) {
		section {
			margin: 0 5%;
		}
		.animated {
			max-width: 500px;
			margin: 0 auto;
		}

		figure {
			flex-direction: row;
			max-width: 90%;
			margin: 0 auto;
		}
	 }
</style>